<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.slobodastudio.discussions.test"
    android:versionCode="1"
    android:versionName="1.0" >

   <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="14" />

    <supports-screens android:anyDensity="true" />

    <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:targetPackage="com.slobodastudio.discussions" android:functionalTest="true" />

    <application> 
        
        <uses-library android:name="android.test.runner" android:required="true" />
    </application>

</manifest>